{% extends "base.html" %}

{% block content %}

<section id="munu">
    <div class="container my-3 py-4 bg-light">
        <div class="row">
            <div class="col-md-3">
                <a href="{{  url_for('main.state_list') }}" class="btn btn-secondary w-100">メインページに戻る</a>
            </div>
        </div>
    </div>
</section>

<header id="page-header">
    <div class="container my-3 py-3 bg-light">
        <h1>403 access forbitten!</h1>
        <p>
            指定されたページへのアクセスが許可されていません
        </p>
    </div>
</header>
{% endblock %}