{% extends 'base.html' %}

{% block head %}
<link href="/static/css/signin.css" rel="stylesheet">

{% endblock head %}

{% block content %}

{% if current_user.is_administrator() %}
  <section id="menu">
    <div class="container my-3 py-4 ">
      <div class="row">
        <div class="col-md-4">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#del_Modal">
            削除
          </button>
        </div>
      </div>
    </div>
  </section>
  {% endif %}



    <main class="form-signin w-100 m-auto">
        <form method="POST">
            {{ form.hidden_tag() }}
          <h1 class="h3 mb-4 fw-normal text-center">ユーザ情報更新</h1>
          <div class="form-floating">
            <input type="text" class="form-control"  id="username" name="username"  required type="text" value="{{ form.username.data }}" placeholder="username">
            <label for="floatingInput">User name</label>
          </div>
          <div class="form-floating">
            <input type="email" class="form-control"  id="email" name="email"  required type="text" value="{{ form.email.data }}" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control"  id="grade" name="grade"  required type="text" value="{{ form.grade.data }}" placeholder="grade">
            <label for="floatingInput">Grade</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required type="password" value="" >
            <label for="floatingPassword">Password</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="pass_confirm" name="pass_confirm" placeholder="Confirm Password" required type="password" value="" >
            <label for="floatingPassword">Confirm Password</label>
          </div>
          <input class="btn btn-primary w-100 py-2 mb-3" id="submit" name="submit" type="submit" value="更新">
        </form>
        {% for error in form.username.errors %}
            <span style="color: red;">{{ error }}</span>
            <br>
        {% endfor %}
        {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
            <br>
        {% endfor %}     
        {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            <br>
        {% endfor %}
        {% for error in form.grade.errors %}
            <span style="color: red;">{{ error }}</span>
            <br>

        {% endfor %}
      </main>

        <!-- Modal -->
  <div class="modal fade" id="del_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">削除確認</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          このユーザーを削除しますか？
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
          <form action="{{ url_for('users.delete_user', user_id=form.id)}}" method="POST">
            <input type="submit" class="btn btn-danger" value="削除">
          </form>
        </div>
      </div>
    </div>
  </div>
    
{% endblock content %}